In [1]:
#26. You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the column which contains the third NaN value.(You should return a Series of column labels. Try not to use .iterrows())
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,10, size=(10,5)))
df = df.astype(float)
print(df)
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

     0    1    2    3    4
0  3.0  8.0  0.0  4.0  2.0
1  6.0  2.0  2.0  3.0  6.0
2  7.0  3.0  2.0  8.0  2.0
3  9.0  6.0  3.0  2.0  7.0
4  2.0  7.0  0.0  2.0  3.0
5  4.0  6.0  4.0  9.0  1.0
6  7.0  4.0  8.0  4.0  4.0
7  1.0  4.0  4.0  0.0  2.0
8  8.0  1.0  2.0  5.0  9.0
9  6.0  1.0  3.0  2.0  4.0

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [4]:
#27. A DataFrame has a column of groups 'grps' and and column of numbers 'vals'.For each group, find the sum of the three greatest values.
import pandas as pd
import numpy as np
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df.groupby('grps')['vals'].nlargest(3).sum(level=0)
print(df)

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87